article, aside, footer, header, main, nav, section {
  display: block;
}

html, body, h1, h2, h3, ul, li, a, p,
article, aside, footer, header, nav, section {
  padding: 0;
  margin: 0;
}

html {
  font-family: sans-serif;
  width: 100%;
}

body {
  background-color: #AD2F2F;
}

.banner {
  background-image: url("imgs/banner-photo.jpg");
  background-size: cover;
}


#social-media {
  position: absolute;
  top: 10px;
  right: 10px ;
  margin-right: 10px;
  z-index: 1;
}

#social-media ul {
  list-style-type: none;
}

#social-media li {
    display: inline;
    text-decoration: none;
}

#social-media ul li img a:hover {
  color: #800000;
}

nav {
  display: table;
  width: 100%;
  border-collapse: collapse;
  height: 40px;
  background-color: #AD2F2F;
  line-height: 40px;
  text-align: center;
}

nav ul {
  display: table-row;
}

nav li {
  display: table-cell;
  margin: 0;
  border-left: 2px solid black;
}

nav li a {
  color:white;
  text-decoration: none;
  font-size: 20px;
  padding: 0px 60px;
}

nav li a:hover {
    color: #800000;
}

footer {
  height: 40px;
  width: 100%;
  background-color: black;
  color: white;
  padding-top: 5px;
  clear: both;
  font-size: 14px;
  text-align: center;
}

footer a {
  color: white;
}

footer a:hover {
    color: #800000;
}