article, aside, footer, header, main, nav, section {
  display: block;
}

html, body, h1, h2, h3, ul, li, a, p,
article, aside, footer, header, nav, section {
  padding: 0;
  margin: 0;
}

html {
  background: #ededed;
  font-family: sans-serif;
}

body {
  background-color: #AD2F2F;
}

.banner {
  width: 100%;
  height: 75px;
  background-color: #3C60A1;
  color:white;
  border-bottom: 2px solid black;
  padding-top: 50px;
  padding-left: 50px;
  text-align: left;
  font-family: sans-serif;
}

#social-media {
  position: relative;
  left: 1100px;
  bottom: 70px;
}

#social-media ul {
  list-style-type: none;
  color: white;
}

#social-media ul li a {
  text-decoration: none;
  color: white;
}

#social-media ul li a:hover {
  color: #800000;
}

main {
  width: 960px;
  margin-left: 50px;
  margin-right: auto;
  float: left;
}

nav {
  height: 40px;
  width: 100%;
  background-color: #eb4e48;
  color: black;
  padding: 5px;
  text-align: center;
  line-height: 40px;
  border-bottom: 2px solid black;
}

nav li {
  display: inline;
  margin-left: 15px;
  margin-right: 15px;
  font-weight: bold;
}

nav li a {
  color:white;
  text-decoration: none;
  font-size: 20px;
  padding: 0px 60px;
}

nav li a:hover {
    color: #800000;
}

footer {
  height: 40px;
  width: 100%;
  background-color: black;
  color: white;
  padding-top: 5px;
  clear: both;
  font-size: 14spx;
  text-align: center;
}

footer a {
  color: white;
}

footer a:hover {
    color: #800000;
}


.main {
height: 400px;
width: 100%;
background: white;
}