.main {
  height: 408px;
  width: 100%;
  background: #edefed;
}

#title-divider{
  font-size: 30px;
  font-weight: bold;
}

.evan-photo {
  display: inline-block;
  position: relative;
  float: left;
  left: 54px;
  top:  40px;
}

.description {
  display: inline-block;
  margin-top: 100px;
  margin-left: 100px;
  /*clear: both;*/
    /* border: 2px solid black; */
  /*position: relative;*/
  color: rgb(174, 128, 128);
}

.description a {
    text-decoration: none;
    color: rgb(174, 128, 128);
}

.description a:hover {
      color: #800000;
}

aside {
  background-color: #AD2F2F;
  color: white;
  width: 25%;
  height: 100px;
  border: 1px solid black;
  border-radius: 20px;
  display: inline-block;
  margin: 20px;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  line-height: 100px;
}

aside:hover {
    color: #800000;
}
aside h3 {
  text-align: center;
  text-decoration: underline;

}

aside h3 a {
  text-decoration: none;
  color: white;
}

aside h3 a:hover {
  color: #800000;
}

#aside-contact ul {
    list-style-type: none;
}

#aside-contact ul li a {
  text-decoration: none;
  color: white;
}

#aside-contact ul li a:hover {
  color: #800000;
}

.asides {
  background: rgb(226, 218, 218);
  padding-left: 65px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.asides .hover a {
    color: #800000;
}