.inline {
  text-align: center;
}

.inline li {
  display: inline;
  border: 2px solid black;
  margin: 0px 20px;
}

#block1 {
  width: 100px;
  height: 100px;
  background-color: blue;
  border: 2px solid black;
  margin: 10px;
  display: block;
}

#block2 {
  width: 100px;
  height: 100px;
  background-color: red;
  border: 2px solid black;
  margin: 10px;
  display: block;
}

#inline-block1 {
  width: 100px;
  height: 100px;
  background-color: blue;
  border: 2px solid black;
  margin: 10px;
  display: inline-block;
}

#inline-block2 {
  width: 100px;
  height: 100px;
  background-color: red;
  border: 2px solid black;
  margin: 10px;
  display: inline-block;
}