html {
            margin-left: 100px;
            margin-right: 100px;
            background-color: white;
 }

header{
      background-color: #B0B0B0;
      width: 100%;
      border: 2px solid black;
       border-radius: 10px;
      text-align: center;
}

#middle-box {
      border: 2px solid black;
       border-radius: 10px;
      padding: 20px;
      background-color: linen;
  }

#middle-box h3 {
       text-align: center;
  }
